.block {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0 auto 20px;
    color: black;
    text-decoration: none;
    border: 1px solid #E6E6E6;
    border-radius: 7px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,0.1);
    transition: all .3s ease;
}

.block:hover {
	border: 1px solid #0076FF;
	box-shadow: 0 6px 50px 0 rgba(0,0,0,0.1);
}

.block__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 16px;
}

.block__index {

}

.block__date {

}

.block__content {

}

.block__identifier {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.block__interlinks {
    display: block;
}
