.popup {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup__body {
    height: 70vh;
    width: 70%;
	border: 1px solid #E6E6E6;
	border-radius: 7px;
	background-color: #FFFFFF;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,0.1);
    z-index: 1;
    overflow-y: auto;
}

.popup__veil {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.6);
}